@import "../../bower_components/bootstrap/less/bootstrap.less";
@grid-float-breakpoint: @screen-xs-min;

@white-height: 200px;
@white-width: 40px;
@black-height: 140px;
@black-width: 20px;
@black-shift: -(@black-width)/2;
@box-height: 40px;
@box-width: 40px;

.top{
  height: 50px;
  width: 100%;
  background: red;
}

.game{
  width: 100%;
  height: 400px;

  display:flex;
  flex-direction: column;
}

.floor{
  flex-grow: 1;

  position: relative;
  width: 100%;

  background: burlywood;
}

.piano-view{
    overflow:hidden;
    border:solid 1px red;
    flex-grow: 1;
    text-align: center;
}

.piano{
  width: 100%;
  height: @white-height;

  font-size:0px;
  white-space: nowrap;
  transition: transform 1s;
  transform: translate(0px, 0px);
}

.white{
  width: @white-width;
  height: 100%;
  background: lightgrey;
  border: solid 1px black;
  display: inline-block;
  position: relative;

}
.label{
  font-size: 14px;
  position: absolute;
  color: black;
  left: 0;
  bottom: 0;
}
.black{
  border:solid 1px black;
  height: 60%;
  width: @black-width;

  background:black;
  transform: translate(@black-shift, 0px);
}

.unknown{
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  )
}

.box{
  width: @box-width;
  height: @box-height;

  border: solid 1px black;
  background: lightgreen;
  color: black;
  cursor: move;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.glyphicon-music {
    font-size: 1.5em;
}

.bottom-container{
    display: flex;
    flex-direction: column;
}
.indicator{
  display: flex;
  flex-direction: row;
  height: 15px;
  width: 100%;
}
.indicator-left{
  width: 30%;
}
.indicator-middle{
  width: 40%;
  background: pink;
}
.indicator-right{
}
.bottom{
    display: flex;
    flex-direction: row;
}
.prev{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.next{
    width:50px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;

  flex-grow:1;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.text-screen{
  font-size: 4em;
  color: brown;
}

.blacks{
    width: 100%;
    height: @black-height;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}


.whites{
    height: 100%;
    width: 100%;

    display:flex;
    justify-content:center;
    align-items: center;
}
